# compiled output
/drop-server/dist
/drop-server/node_modules

/drop-mobile/node_modules
/drop-mobile/dist
/drop-mobile/dist-ssr
/drop-mobile/*.local

/drop-web/node_modules
/drop-web/dist
/drop-web/dist-ssr
/drop-web/*.local

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?